<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="/img/styles/producto.css">
    <style>
        
        .container.p-4 {
            padding: 2rem !important; 
            margin: 0 auto !important;
            max-width: 100%;
        }
        
        .card {
            margin: 0 auto; 
            max-width: 400px; 
        }
    </style>
</head>
<body>
<div class="container p-4">
    <div class="row" style="position: relative;">

        <span class="text" tabindex="0" data-placement="top" title="Volver" style="display: inline-block">
            <a class="btn btn-outline-success" href="/producto">
                <span class="icon text-dark-50">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text"></span>
            </a>
        </span>

        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body shadow-lg">
                    <h3 style="text-align: center;">Editar Producto</h3>
                    <br>
                    <form action="/producto/edit/{{producto.id_producto}}" method="POST">
                        <div class="form-group">
                            <h6 style="text-align: left;">Nombre*</h6>
                            <input type="text" name="nombre" class="form-control" autofocus
                                value="{{producto.nombre}}" 
                                onkeypress="return (event.keyCode >= 65 && event.keyCode <= 90) || (event.keyCode >= 97 && event.keyCode <= 122) || event.keyCode === 32"  required>
                        </div>
                        <div class="form-group">
                            <h6 style="text-align: left;">Precio*</h6>
                            <input type="number" name="precio" class="form-control" min="1"
                                value="{{producto.precio}}" 
                                onkeypress="return (event.keyCode >= 48 && event.keyCode <= 57)" required>
                        </div>
                        <div class="form-group">
                            <h6 style="text-align: left;">Peso*</h6>
                            <input type="number" name="peso" class="form-control" min="1"
                                value="{{producto.peso}}" 
                                onkeypress="return (event.keyCode >= 48 && event.keyCode <= 57)" required>
                        </div>
                        <div class="form-group">
                            <h6 style="text-align: left;">Cantidad*</h6>
                            <input type="number" name="cantidad" class="form-control" min="1"
                                value="{{producto.cantidad}}" 
                                onkeypress="return (event.keyCode >= 48 && event.keyCode <= 57)" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
