<form action="/cliente/addFactura/{{row}}" method="POST">
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>cantidadBD</th>
                <th>precio</th>
                <th>cantidad</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            {{#each productosList}}
            <tr>
                <td>{{nombre}}</td>
                <td>
                    <input type="number" name="cantidadBD" value="{{cantidad}}" min="0">
                </td>
                <td> <input type="number" name="precio" value="{{precio}}" min="0"></td>
                <td>
                    <input type="number" name="cantidadProductosSeleccionados" value="0" min="0">
                </td>
                <td>
                    <input type="checkbox" name="productosSeleccionados" value="{{id_producto}}" checked>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <input type="submit" value="Enviar">
</form>