<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informes</title>
    <link rel="stylesheet" href="/img/styles/reporte.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</head>

<body>
    <div class="container p-4">
        <div class="container2 mt-4 p-3 mb-4 bg-body rounded">
            <h3 style="display: inline-block; margin-left: 40%; margin-top:2%">Reporte de ventas</h3>
            <div class="container mt-5">
                <form id="formBuscar">
                    <label for="fecha">Selecciona un rango de fechas:</label>
                    <br>
                    <input type="date" id="fechaInicio" name="fechaInicio" max="">
                    <input type="date" id="fechaFin" name="fechaFin" max="">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>


                <br>
                <table id="tablaFacturas" class="table mt-2 table-bordered table-striped">
                    <thead class="bg-dark text-white">
                        <tr class="text-center">
                            <th>ID FACTURA</th>
                            <th>CLIENTE</th>
                            <th>FECHA</th>
                            <th>IVA</th>
                            <th>TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each factura}}
                        <tr style="text-align: center;">
                            <td>{{id_factura}}</td>
                            <td>{{nombre}}</td>
                            <td>{{formatDate fecha_factura}}</td>
                            <td>{{iva}}</td>
                            <td class="total">{{total}}</td>
                        </tr>
                        {{else}}
                    <div class="col-md-4 mx-auto">
                        <div class="card card-body text-center">
                            <p>No hay facturas registradas en este rango de fechas</p>
                        </div>
                    </div>
                    {{/each}}
                    </tbody>
                    <tfoot>
                        <tr class="text-center">
                            <td colspan="4" style="text-align: right;"><h5>Total</h5></td>
                            <td id="footerTotal"><h5 id="sumaTotal"></h5></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
</body>
<script>
    document.getElementById('formBuscar').addEventListener('submit', async function (event) {
        event.preventDefault(); 

        const fechaInicio = document.getElementById('fechaInicio').value;
        console.log(`fecha front ${fechaInicio}`)
        const fechaFin = document.getElementById('fechaFin').value;
        console.log(`fecha front ${fechaFin}`)

        window.location = '/reporte/listFacturaReporte/' + fechaInicio + '/' + fechaFin;

    });

    const fechaInput1 = document.getElementById('fechaInicio');
    const fechaInput2 = document.getElementById('fechaFin');
        const fechaActual = new Date().toISOString().split('T')[0];
        fechaInput1.setAttribute('max', fechaActual);
        fechaInput2.setAttribute('max', fechaActual);
    
  const totales = document.querySelectorAll('.total');

  let sumaTotal = 0;

  totales.forEach(total => {
      sumaTotal += parseFloat(total.textContent); 
  });

  const sumaTotalElement = document.getElementById('sumaTotal');
  sumaTotalElement.textContent = sumaTotal;
    
</script>