<div class="container p-4">
    <div class="container mt-4 shadow-lg p-3 mb-4 bg-body rounded" style="margin-left: auto; margin-right: auto;">


        <div class="container">


            <span class="text" tabindex="0" data-placement="top" title="Agregar" style="display: inline-block">
               {{#each row}} 
                <a class="btn btn-outline-success" href="/cliente/addFactura/{{cliente}}">
                    <span class="icon text-dark-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text"></span>
                </a>
                 {{/each}}
            </span>

            <h3 style="display: inline-block; margin-left: 40%">Clientes</h3>
        </div>

        <table id="tablaArticulos" class="table mt-2 table-bordered table-striped">
            <thead class="bg-dark text-white">
                <tr class="text-center">
                    <th>id_factura</th>
                    <th>total</th>
                    <th>iva</th>
                    <th>fecha_factura</th>
                    <th>factura_oficial</th>
                    <th>id_empleado</th>
                </tr>
            </thead>
            <tbody>
                {{#each factura}}
                <tr style="text-align: center;">
                    <td>{{id_factura}}</td>
                    <td>{{total}}</td>
                    <td>{{iva}}</td>
                    <td>{{fecha_factura}}</td>
                    <td>{{factura_oficial}}</td>
                    <td>{{id_empleado}}</td>
                    <td class="text-center">
                </tr>
                {{else}}

                {{#each row}}
                <div class="col-md-4 mx-auto">
                    <div class="card card-body text-center">
                        <p>No hay facturas por el momento :C</p>
                        <a href="/cliente/addFactura/{{cliente}}">Crea Uno!</a>
                    </div>
                </div>
                {{/each}}
                {{/each}}
            </tbody>
        </table>



    </div>
</div>