<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generar Pedido</title>
  <link rel="stylesheet" href="/img/styles/pedido.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <style>
    .form-control {
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
    }

    .dropbtn {
      background-color: #3498db;
      color: white;
      padding: 10px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    .search-bar {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    /* Centrando el texto dentro de los inputs de la tabla */
    #tablaProductos input {
      text-align: center;
    }

    #tablaProductos input {
      text-align: center;
      background-color: transparent;
      border: none;
      width: 100%;
      box-sizing: border-box;
    }

    /* Estilo del select */
    .cliente-select {
      width: 100%; /* 50% del ancho menos el espacio entre el select y el buscador */
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 16px;
      margin-bottom: 10px;
      float: left; /* Alinear a la izquierda */
    }

    .cliente-select:focus {
      border-color: #3498db;
      outline: none;
    }

    /* Estilo para el buscador */
    #inputBusqueda {
      width: calc(50% - 5px); /* 50% del ancho menos el espacio entre el select y el buscador */
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 16px;
      margin-bottom: 10px;
      float: right; /* Alinear a la derecha */
    }
  </style>
</head>

<body>

  <div class="container p-4">
    <div class="container2 mt-4 p-3 mb-4 bg-body rounded" style="margin-left: auto; margin-right: auto;">
      <span class="text" tabindex="0" data-placement="top" title="Volver" style="display: inline-block">
        <a class="btn btn-outline-success" href="/factura">
          <span class="icon text-dark-50">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span class="text"></span>
        </a>
      </span>

      <form action="/factura/addFactura" method="POST">
        <h3 style="display: inline-block; margin-left: 42%">Generar Pedido</h3>
        <br>
        <br>
        <div class="dropdown">
          
          <select class="cliente-select" name="row" required>
            <option value="" disabled selected>Seleccione un cliente</option>
            {{#each clienteList}}
            <option value="{{id_cliente}}">{{nombre}}</option>
            {{/each}}
          </select>
        </div>

        <input type="text" id="inputBusqueda" class="form-control" placeholder="Buscar producto..." style="max-width: 300px;" />
        <table class="table" id="tablaProductos">
          <thead style="background-color: darkcyan; color: white">
            <tr class="text-center">
              <th>PRODUCTO</th>
              <th>DISPONIBLE</th>
              <th>PRECIO</th>
              <th>CANTIDAD</th>
              <th>VALIDACION</th>
            </tr>
          </thead>
          <tbody>
            {{#each productosList}}
            <tr class="text-center">
              <td>
                <input type="text" readonly="readonly" name="nombreProducto" value="{{nombre}}" />
              </td>
              <td>
                <input type="number" readonly="readonly" name="cantidadBD" value="{{cantidad}}" min="0" id="cantidadBD" />
              </td>
              <td>
                <input type="number" readonly="readonly" name="precio" value="{{precio}}" min="0" />
              </td>
              <td>
                <input type="number" name="cantidadProductosSeleccionados" value="" min="0" oninput="validarCantidad()" id="cantidadProductosSeleccionados" />
              </td>
              <td>
                <span class="nombreMensaje"></span>
                <input type="checkbox" name="productosSeleccionados" style="display:none;" value="{{id_producto}}" checked />
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <div class="btn-container">
          <input class="btn btn-success btn-lg" type="submit" value="Enviar" id="guardarBtn" />
        </div>
      </form>
    </div>
  </div>

  <script>
    const guardarBtn = document.getElementById('guardarBtn');
    document.addEventListener('DOMContentLoaded', function () {
      guardarBtn.disabled = true;
    });

    async function validarCantidad() {
      const cantidadBDs = document.querySelectorAll('[name="cantidadBD"]');
      const cantidadProductosSeleccionadosList = document.querySelectorAll('[name="cantidadProductosSeleccionados"]');
      const nombreMensajes = document.querySelectorAll('.nombreMensaje');
      let allValid = true;

      for (let i = 0; i < cantidadBDs.length; i++) {
        if (!cantidadProductosSeleccionadosList[i].value.trim()) {
          nombreMensajes[i].innerHTML = '';
          continue;
        }
        const cantidadBD = parseInt(cantidadBDs[i].value);
        const cantidadProductosSeleccionados = parseInt(cantidadProductosSeleccionadosList[i].value);

        if (cantidadBD < cantidadProductosSeleccionados) {
          nombreMensajes[i].innerHTML = '<i class="fas fa-exclamation-circle" style="color: red;"></i>';
          allValid = false;
        } else {
          nombreMensajes[i].innerHTML = '<i class="fas fa-check-circle" style="color: green;"></i>';
        }
      }
      habilitarODeshabilitarBotonGuardar(allValid);
    }

    function habilitarODeshabilitarBotonGuardar(allValid) {
      let allOk = true;
      const nombreMensajes = document.querySelectorAll('.nombreMensaje');

      for (let i = 0; i < nombreMensajes.length; i++) {
        if (nombreMensajes[i].innerHTML !== '<i class="fas fa-check-circle" style="color: green;"></i>' && nombreMensajes[i].innerHTML !== '') {
          allOk = false;
          break;
        }
      }
      guardarBtn.disabled = !allOk || !allValid;
    }

    window.onload = function () {
      const inputBusqueda = document.getElementById('inputBusqueda');
      inputBusqueda.addEventListener('input', function () {
        const filter = this.value.toLowerCase();
        const rows = document.querySelectorAll('#tablaProductos tbody tr');

        rows.forEach(row => {
          const producto = row.querySelector('td:nth-child(1) input').value.toLowerCase();
          if (producto.includes(filter)) {
            row.style.display = '';
          } else {
            row.style.display = 'none';
          }
        });
      });
    };
  </script>
  <footer>
    <h5>Teléfono</h5>
    <h6>312-695-0222</h6>
    <h5>Dirección</h5>
    <h6>Calle 82 #50A - 48. Santa María, Itagüí</h6>
    <h5>Soporte</h5>
    <h6>312-600-6877</h6>
    <h6>350-468-9979</h6>
    <h6>311-651-5496</h6>
  </footer>
</body>

</html>
