<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturas</title>
    <link rel="stylesheet" href="/img/styles/factura.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</head>
<body>
    <div class="container p-4">
        <div class="container2 mt-4 p-3 mb-4 bg-body rounded" style="margin-left: auto; margin-right: auto;">
    
    <h3 style="display: inline-block; margin-left: 45%">Facturas</h3>
            <div class="container">
                <span class="text" tabindex="0" data-placement="top" title="Agregar" style="display: inline-block">
                    <a href="/factura/addFactura">
                        <button type="button" class="btn btn-success">Agregar</button>
                    </a>
                </span>
    
                
            </div>
    
    
            <table id="tablaArticulos" class="table mt-2 table-bordered table-striped">
                <thead style="background-color: darkcyan; color: white">
                    <tr class="text-center">
                        <th>ID FACTURA</th>
                        <th>FECHA</th>
                        <th>IVA</th>
                        <th>TOTAL</th>
                        <th>EMPLEADO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each factura}}
                    <tr style="text-align: center;">
                        <td>{{id_factura}}</td>
                        <td>{{formatDate fecha_factura}}</td>
                        <td>{{iva}}</td>
                        <td>{{total}}</td>
                        <td>{{id_empleado}}</td>
                        <td class="text-center">
                            <span class="text" tabindex="0" data-placement="top" title="Factura" 
                                style="display: inline-block">
                                <a href="/cliente/showFactura/{{id_factura}}" >
                                    <button type="button" class="btn btn-info">Ver</button>
                                </a>
                            </span> 
                        </td>
                    </tr>
                    {{else}}
                    {{#each row}}
                    <div class="col-md-4 mx-auto">
                        <div class="card card-body text-center">
                            <p>No hay facturas por el momento :C</p>
                            <a href="/cliente/addFactura/{{cliente}}">Crea Uno!</a>
                        </div>
                    </div>
                    {{/each}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
      <footer>
    <h5>Teléfono</h5>
    <h6>312-695-0222</h6>
    <h5>Dirección</h5>
    <h6>Calle 82 #50A - 48. Santa María, Itagüí</h6>
  </footer>
</body>
</html>