<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resumen</title>
  <link rel="stylesheet" href="/img/styles/resumen.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <style>
    .header-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .printbutton {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div class="container p-4">
    <div class="container2 mt-4 p-3 mb-4 bg-body rounded">
      <div class="header-buttons">
        <span class="text" tabindex="0" data-placement="top" title="Volver" style="display: inline-block">
          <a class="btn btn-outline-success" href="/factura">
            <span class="icon text-dark-50">
              <i class="fas fa-arrow-left"></i>
            </span>
            <span class="text"></span>
          </a>
        </span>
        <i type="button" class="printbutton fas fa-2x fa-print"></i>
      </div>
      <div class="table-container">
        <table class="resumen-table">
          <tbody>
            <tr>
              <td colspan="2" rowspan="2" style="text-align: center;">
                <img src="/img/img/prazer.png" alt="Logo" width="130" height="130">
              </td>
              <td colspan="2" rowspan="2" style="text-align: center;"><b>INDUSTRIAS ALIMENTICIAS PRAZER</b></td>
              <td colspan="4"><b>CLIENTE</b></td>
            </tr>
            {{#each cliente}}
            <tr>
              <td colspan="4">{{nombre_cliente}}</td>
            </tr>
            <tr>
              <td colspan="4"><b>NIT CLIENTE</b></td>
              <td colspan="4"><b>DIRECCIÓN</b></td>
            </tr>
            <tr>
              <td colspan="4">{{nit}}</td>
              <td colspan="4">{{direccion}}</td>
            </tr>
            {{/each}}
            <tr>
              <td colspan="8"></td>
            </tr>
            <tr>
              <td><b>ID PRODUCTO</b></td>
              <td colspan="4"><b>PRODUCTO</b></td>
              <td><b>CANTIDAD</b></td>
              <td><b>PRECIO UNITARIO</b></td>
              <td><b>SUBTOTAL</b></td>
            </tr>
            {{#each productosList}}
            <tr>
              <td>{{id_producto}}</td>
              <td colspan="4">{{nombre_producto}}</td>
              <td>{{cantidad}}</td>
              <td>{{precio_unitario}}</td>
              <td>{{subtotal}}</td>
            </tr>
            {{/each}}
            <tr>
              <td colspan="8"></td>
            </tr>
            <tr>
              <td colspan="5"><b>Observaciones</b></td>
              <td colspan="2"><b>TOTAL SIN IVA</b></td>
              {{#each total}}
              <td>{{total}}</td>
              {{/each}}
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td colspan="2"><b>TOTAL</b></td>
              <td>{{total_iva}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <footer>
    <h5>Teléfono</h5>
    <h6>312-695-0222</h6>
    <h5>Dirección</h5>
    <h6>Calle 82 #50A - 48. Santa María, Itagüí</h6>
  </footer>
  <script>
    document.querySelectorAll('.printbutton').forEach(function (element) {
      element.addEventListener('click', function () {
        print();
      });
    });
  </script>
</body>

</html>
